
<% layout("/layouts/boilerplate") %>

  <div>
    <div class="row col-6 offset-3">
        <div class="col-8 ">
            <br>
            <h3>Listing Details</h3>
        </div>
       
    


    <div class="card">
  <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
  <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %></b>
        <br>
        <%= listing.description %>
        <br>
        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
        <br>
         <%= listing.location %>
        <br>
        <%= listing.country %>
    </p>

  </div>
</div>


    
    <br>
    <div class="btns col-8">
    <a class="btn btn-dark btn3 col-2 " href="/listings/<%=listing._id%>/edit"><b>Edit</b></a>

    <br><br>

    <form  method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn2 btn-dark col-3 offset-3 "><b>Delete</b></button>
    </form>
    </div>


 </div>
 </div>

    