<% layout("layouts/boilerplate") %>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3><%= listing.title %></h3>
      <div class="card mb-3">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
          <p>Owned by <i><%= listing.owner.username %></i></p>
          <p><%= listing.description %></p>
          <p>₹ <%= listing.price.toLocaleString("en-IN") %> / night</p>
          <p><%= listing.location %>, <%= listing.country %></p>
        </div>
      </div>

      <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
        <div class="mb-3">
          <a class="btn btn-dark" href="/listings/<%= listing._id %>/edit"><b>Edit</b></a>
        </div>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
          <button class="btn btn-danger"><b>Delete</b></button>
        </form>
      <% } %>

      <hr>

      <% if (currUser) { %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="post" class="needs-validation" novalidate>
          <fieldset class="starability-slot mt-3">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>

          <div class="mt-3">
            <label for="comment">Comment</label>
            <textarea name="review[comment]" id="comment" rows="4" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter something</div>
          </div>

          <button class="btn btn-outline-dark mt-3">Submit</button>
        </form>
      <% } %>

      <% if (listing.reviews.length > 0) { %>
        <hr>
        <h4>All Reviews</h4>
        <% for (let review of listing.reviews) { %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">@<%= review.author.username %></h5>
              <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
              <p class="card-text"><%= review.comment %></p>
              <form method="post" action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          </div>
        <% } %>
      <% } %>

      <hr>

      <div class="mt-5">
        <h3>Where you'll be</h3>
        <div id="map" style="height: 400px;"></div>
      </div>
    </div>
  </div>
</div>

<script src="/js/map.js"></script>